<div>
  <h1>Thread: {{ threadTitle }}</h1>
  <h6>
    <a routerLink="../">To before page.</a>
  </h6>
  <div style="z-index: -1; margin-bottom: 10px">
    <div class="thread-area" *ngFor="let response of responses; let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ i + 1 }} :
            <a
              href="mailto:{{ response.mail }}"
              *ngIf="response.mail; else notMail"
            >
              <span *ngIf="response.name == null || response.name == ''">{{
                boardDefaultName
              }}</span>
              <span *ngIf="response.name != null && response.name != ''">{{
                response.name
              }}</span>
            </a>
            <ng-template #notMail>
              <span *ngIf="response.name == null || response.name == ''">{{
                boardDefaultName
              }}</span>
              <span *ngIf="response.name != null && response.name != ''">{{
                response.name
              }}</span>
            </ng-template>
            &nbsp;
            <time [dateTime]="response.created">{{ response.created }}</time>
            &nbsp;ID:{{ response.author }}
            <button
              type="button"
              class="btn btn-primary btn-sm"
              *ngIf="isAdmin && !response.isAboned"
              style="margin-left: 5px;"
              [disabled]="response.isEditMode"
              (click)="this.toAboneResponse(response.id)"
            >
              To abone
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              *ngIf="isAdmin && !response.isAboned"
              style="margin-left: 5px;"
              [disabled]="response.isEditMode"
              (click)="editResponse(i)"
            >
              Edit
            </button>
          </h5>
          <span class="card-text response-text">
            <pre style="font-size: 100%">{{ response.body }}</pre>
          </span>
          <hr *ngIf="response.hostAddress" />
          <span *ngIf="response.hostAddress">
            HostAddress: {{ response.hostAddress }}
          </span>
          <div *ngIf="isAdmin && response.isEditMode">
            <textarea
              class="form-control"
              rows="10"
              [(ngModel)]="response.editedText"
            >
            {{ response | json }}
          </textarea
            >
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="excuteEditedResponse(i, response.id)"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn btn-sm btn-secondary"
              (click)="cancelEditingResponse(i)"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <app-response-form
      [boardDefaultName]="boardDefaultName"
      [boardKey]="boardKey"
      [threadKey]="threadKey"
      (ResponseListInitilizer)="initializeComponent()"
    ></app-response-form>
  </div>
</div>
