<div class="container" style="padding: 0px; margin-top:20px;max-width: none;">

  <form #responseForm="ngForm">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="{{ boardDefaultName }}"
            [(ngModel)]="name"
            name="name"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="mail">Mail:</label>
          <input
            type="text"
            class="form-control"
            id="mail"
            placeholder="Optional"
            [(ngModel)]="mail"
            name="mail"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="body">
            Body:
          </label>
          <textarea class="form-control" rows="7" id="body" [(ngModel)]="body" name="body" required #bodyInfo="ngModel"></textarea>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="writeToThread()" [disabled]="responseForm.invalid">
      Submit
    </button>
    <button class="btn btn-secondary" style="margin-left: 10px" (click)="ResponseListInitilizer.emit()">
      Refresh
    </button>
  </form>
</div>
