<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Thread</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #makeThreadModal="ngForm">
  <div class="modal-body mx-3">
      <div class="form-group">
        <div class="md-form mb-1">
          <label for="title">Title:</label>
          <input type="text" id="title" class="form-control" [(ngModel)]="title" name="title" required/>
        </div>
        <div class="md-form mb-1">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" placeholder="{{boardDefaultName}}" [(ngModel)]="name" name="name"/>
        </div>
        <div class="md-form mb-1">
            <label for="mail">Mail:</label>
            <input type="text" id="mail" class="form-control" placeholder="Optional" [(ngModel)]="mail" name="mail" />
        </div>
        <div class="md-form mb-1">
            <label for="body">Body:</label>
            <textarea id="body" class="form-control" rows="6" [(ngModel)]="body" name="body" required></textarea>
        </div>

      </div>

  </div>
  <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-outline-dark" type="button" (click)="modal.close('Submit')" [disabled]="makeThreadModal.invalid">Submit</button>
  </div>
</form>

</ng-template>

<button class="btn btn-outline-primary" style="margin-bottom: 10px" (click)="open(content)">
  Create Thread
</button>
<button class="btn btn-outline-secondary" style="margin-bottom: 10px;margin-left: 10px" (click)="threadListInitialier.emit()">
  Refresh
</button>
